.offer {
  text-align: center;
  padding: 5vh 0;
}
.offer h2 {
  font-size: 35px;
  padding: 5vh 0;
}
.offercon {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .offercon {
    grid-template-columns: 1fr 1fr;
    width: 100vw;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .offercon {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  .offer h2 {
    width: 90vw;
    margin: auto;
  }
  .offercon {
    width: 100vw;
  }
}
