.main {
  background: url('https://source.unsplash.com/1400x400/?beach');
  height: 50vh;
  background-size: cover;
}
.main h1 {
  color: white;
  font-size: 100px;
  padding-top: 25vh;
}
@media screen and (max-width: 576px) {
  .main h1 {
    font-size: 50px;
  }
}
