.trend {
  margin: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.trend div {
  margin: 2vh;
}
.trending {
  padding: 5vh 0;
}
.trending h1 {
  padding: 5vh 0;
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .trend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .trend {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .trend {
    grid-template-columns: 1fr;
  }
}
