.main {
  margin: 10vh 0;
}
.main img {
  width: 50vw;
}
.detail {
  position: absolute;
  margin-top: 4vh;
  background: rgb(241, 147, 5);
  color: white;
  padding: 1vh 2vh;
  border-radius: 20px;
}
.main div {
  margin: 5vh 0;
}
.main p {
  margin: 5vh 0;
}
.main a {
  color: orange;
}
@media screen and (max-width: 576px) {
  .main {
    margin: 1vh 0;
  }
  .detail {
    margin: 2vh 0 0 2vw;
  }
  .main img {
    width: 90vw;
  }
}
