.main {
  padding-top: 5vh;
  width: 80vw;
  margin: auto;
}
.form {
  padding: 3vh 0;
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
}
.btncontainer {
  text-align: center;
}
.form input {
  padding: 1vh 2vh;
  margin: 1vh;
}
.btn {
  background: linear-gradient(
    131deg,
    rgba(245, 155, 37, 1) 18%,
    rgba(108, 43, 207, 1) 79%
  );
  outline: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 2vh 2vw;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: 1s;
  width: 20vw;
  margin: 5vh auto;
}
.btn:hover {
  background: linear-gradient(
    131deg,
    rgba(108, 43, 207, 1) 18%,
    rgba(245, 155, 37, 1) 78%
  );
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .btn {
    width: 30vw;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    width: 40vw;
  }
}
@media screen and (max-width: 576px) {
  .btn {
    width: 60vw;
  }
  .main {
    width: 100vw;
  }
  .form {
    width: 85vw;
  }
}
